<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../add-task.css">
    <link rel="stylesheet" href="../side-bar.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Add Task</title>
</head>

<body>
    <div id="wrapper">
        <nav id="side-bar">
            <div style="height:70px; background-color: white; margin:20px;">
                <img src="../assets/site-logo.png" alt="logo" />
            </div>

            <div>
                <ul id="side-menu-ul">
                    <li><a href="./user-dashboard.ejs"><span class="material-icons">home</span> Home</a></li>
                    <li><a href="./user-profile.ejs"><span class="material-icons">person</span>Profile</a></li>
                    <li><span class="material-icons">logout</span> Log out</li>
                </ul>
            </div>
        </nav>
    </div>


    <div id="main-content">
        <div class="user-info" style="display: flex; justify-content: space-between;">
            <div>
                <h2>Add a task today!</h2>
                <p>Let's get started by filling the fields below</p>
            </div>
            
        </div>

        <div class="flex">
            <form action="#">
                <input type="text" placeholder="Title">
                <input type="date">

                <div class="flex-time">
                    <input type="time">
                    <input type="time">
                </div>
                <input type="submit" value="Save task">
            </form>
        
        </div>

    </div>

</body>

</html>