<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sign-in.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Sign-in</title>
</head>
<body>
    <div id="container" class="grid">
        <div class="form-header">
            <img src="../assets/undraw_portfolio_feedback_6r17%20(1).svg" alt="sign-in pic">
        </div>
        <div class="form-container">
            <!-- <% if(error){ %>
                <p><%= error.message %></p>
            <% } %> -->
            <h2>Get Started</h2>
            <p>Already have an account? <a href="/login">Log in</a></p>
            <div class="button-position">
                <button class="button">Sign up with Google</button>
                <button class="button">Sign up with Facebook</button>
            </div>
        </div>
        <hr/>
        <div class="form-style">
            <form method="POST" action="/api/user/sign-up">
                <label for="name">Name</label>
                <input type="text" name="username" required>
                <label for="email">Email</label>
                <input type="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <input type="submit" name="submit" value="Sign Up">
            </form>
        </div>      
    </div>
</body>
</html>