


#main-content .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.leading-text {
    margin-top: 20px;
}

.grid.grid-in-progress>.grid-child {
    height: 220px;
}

.grid.grid-completed>.grid-child {
    height: 150px;
    margin-bottom: 40px;
}

.grid .grid-child {
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(139, 110, 110, 0.2);
}

.add-task {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color: #1D1333;
    color: white;
    cursor: pointer;
}