.add-task {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color: #1D1333;
    color: white;
    cursor: pointer;
}


.flex{
    display: flex;
    /* width: 500px; */
    /* min-height: 500px; */
    justify-content: center;
    margin: auto;
}


.flex > form {
    width: 500px;
    margin-top: 10%;;
}


.flex >form input {
    display: block;
    width: 100%;
    margin-top: 10px;
    border: none;
    height: 40px;
    background-color: #fff;
}