#main-content{
    background-color: white;
}

.add-task {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color: #1D1333;
    color: white;
    cursor: pointer;
}


.flex{
    display: flex;
    justify-content: center;
    margin: auto;
}


.flex > form {
    width: 60%;
    margin-top: 5%;
}


.flex >form input {
    display: block;
    width: 100%;
    margin-top: 40px;
    border: none;
    height: 45px;
    border-radius: 5px;
    background-color: #e1e1e1;
}

.flex >form input:first-child {
    /* border: none; */
    background-color: white;
    border-bottom: 2px solid #e1e1e1;
    outline: none;

}